data/*
data/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
train.zip
test.zip
challenge/
challenge/*
models/*.pth
models/hpsearch/*
models/*.json
*.zip
*.csv
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg